:root{
    --vermelho: #DB202C;
    --preto:#141414;
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
body { 
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.container { 
    margin: 0 0 10px  30px;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 5px;
    margin-top: 5px;
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{ 
    color: #fff;
}
/* principal film  */

.film-principal { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50) , rgba(0,0,0,.50)100%), 
    url('../img/loki_capa.jpeg');
    height: 400px;
    background-size: cover;
}

.film-principal .container { 
    width: 60%;
}
.description { 
    margin-bottom: 40px;
    margin-bottom: 40px;
}
.title {
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button { 
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 45px;
    margin-right: 8px;
    margin-top: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: 3s ease all;
}

.button:hover { 
    background-color: white;
    color: black;
}

.mini-items{
    height: auto;
}
.box-film {
    height: 50%;
    width: 50%;
    display: block;
 }